.navbar {
  width: 80px;
  height: 750px;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: var(--component-color-bg);
}

.navbarMain {
  flex: 1;
  margin-top: 50px;
}

.link {
  width: 50px;
  height: 50px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-body);

  &:hover {
    background-color: #45a575;
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-body);
      color: #45a575;
    }
  }
}

.customBorder {
  border: 1px solid var(--border-color);
}
